


<%= form_for(sprint) do |f| %>
  <% if sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

 <% end %>

  <div class="field">
    <%= f.label :version %>
    <%= f.text_field :version , :required => true %>
  </div>

  <div class="field">
    <%= f.label :organization_id %>
    


         <%= f.hidden_field :organization_id, :value => @organization.id %>
   

    <%= Organization.find_by(id:@organization.id).name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
