<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>



<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1> 

          <% if user_signed_in? %>
            <% if current_user.admin?%>
              <%= link_to 'Home', organizations_path %>
             <% end %> 
          <% end  %>

      </h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    

    <ul class="right">

          <% if user_signed_in? %>
                  <li class="active"><%= link_to User.find_by(id:current_user.id).email , destroy_user_session_path , method: :delete %> </li>
          <%  else %>
                  <li class="active"><%= link_to "Sign_Up" , new_user_registration_path %></li>
                  <li class="active"> <%= link_to "Log_in" , new_user_session_path %></li>
          <%  end %>
       
   </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if user_signed_in? %>
         <% if current_user.admin?%>

          <li>
                 <%= link_to 'New Organization', new_organization_path %>
          </li>
          <li>
            <%= link_to 'User', setAdmin_path %>
          </li>
            
        <% end %>
          
           
          <li>
            <%= link_to 'Assign Todos', assign_user_path %>
          </li>
     <% end %>
      

    </ul>
  </section>
</nav>
<body>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<div class="row">
  <div class="small-2 small-centered medium-2 large-0  columns">&nbsp;</div>
      <div class="small-10 small-centered medium-8 large-12 columns" >
      
        <%= yield %>
      </div>
  <div class="small-0 medium-2 large-0 columns">&nbsp;</div>
  
</div>


  </body>
</html>


